.vi-bg{
    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -1;
}

.content{
    position : fixed;
    z-index: 10;
    color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}