* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}



.header-container {
    width: 100%;
    padding: 15px 30px;
    background: #111;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.head-items {
    list-style: none;
    display: flex;
    gap: 25px;  
}


.head-items li a {
    color: white;
    text-decoration: none;
    
    font-size: 16px;
    transition: all 0.3s ease;
}


.head-items li a:hover {

    color: yellowgreen;
    
    transform: scale(1.05);  
}


.box {
   
    height: 200px;
    width: 200px;
    background-image: url("https://unblast.com/wp-content/uploads/2021/01/Space-Background-Images.jpg");
    transition: transform 0.5s;
}

.box:hover {
    background-color: orange;
    transform: rotate(180deg);
    border-radius: 25%;
}
.vi-bg{
    position: fixed;
    top: 0;
    left: 0;

    height: 80vh;
    width: 100vw;
    object-fit: cover;
    z-index: -1;

}

.content{
    z-index: 10;
    color: rgb(0, 0, 0);
    height: 147vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

