.inner{
    height: 500px;
    width: 500px;
    background-color: rgb(0, 0, 225);
    position: relative;
    top: 50px;
}
.outer{
    height: 100px;
    width: 100px;
    background-color: rgb(0, 255, 0);
    position: absolute;
    top: 200px;
}